body {
    padding: 0;
    margin: 0;
    background-color: #fff;
}

.fundo-claro {
    background-color: #CAD6E233;
}

p, button, h1, h2, h3, li, h4, span, a {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 24px;
}

a {
    font-size: 20px;
}

p {
    font-size: 18px;
}

li {
    font-size: 16px;
}

.banner {
    height: 70vh;
    background: linear-gradient(#0F2A44B3, #0F2A44B3), url('../img/fundo-escritorio.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

.banner-bot {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 150px 30px 150px 1fr;
}

.banner-bot :first-child {
    grid-column: 2;
}

.banner-bot :last-child {
    grid-column: 4;
}

.sessao {
    padding: 40px 0;
    justify-items: center;
}

.section-titulo {
    max-width: 1200px;
    text-align: center;
}

.features {
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

.feature-card {
    padding: 10px 20px;
    border: 2px solid #CAD6E2;
    border-radius: 20px;
    transition: 0.3s;
}

.feature-card:hover {
    transform: translateY(-5px); 
    border-color: #0F2A44;
    box-shadow: 0 10px 20px #5B748C; 
}

.feature-icon {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

.salas {
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
}

.salas-card {
    border-radius: 20px;
    overflow: hidden;
    background-color: #fff;
}

.salas-card img { 
    width: 100%; 
    height: 220px; 
    object-fit: cover; 
}

.salas-info {
    padding: 0 20px;
}

.salas-info p {
    min-height: 150px;
}

.lista {
    border-top: 1px solid #CAD6E2;
    padding-top: 15px;
    text-align: left;
}

.salas > .bot {
    width: 300px;
    grid-column: span 2;
    justify-self: center;
}

.plano-grid {
    max-width: 1200px;
    margin: 40px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

.plano-grid .lista {
    border: none;
}

.plano-grid .bot {
    grid-column: 2;
}

.plano-card {
    padding: 30px 60px;
    border: 3px solid #0F2A44;
    border-radius: 20px;
    text-align: center;
}

.preco {
    margin: 30px 0;
    font-size: 45px;
    font-weight: 800;

}

.preco > span {
    font-size: 26px;
    font-weight: 400;
}

.aval-grid {
    max-width: 1200px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

.aval-grid img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 20px;
}

.aval-card {
    padding: 30px;
    background: white;
    border-radius: 20px;
    box-shadow: 0 10px 10px #CAD6E233;

}

.user-profile { 
    display: flex; 
    align-items: center; 
    gap: 15px;
    margin-bottom: 20px; 
}

.user-profile img { 
    width: 50px; 
    height: 50px; 
    border-radius: 50%;
    object-fit: cover; 
}

.user-profile h4 { 
    margin: 0; 
}

.placeholder {
    width: 200px;
    height: 300px;
    background-color: #CAD6E2;
    border-radius: 20px;
}